<form action="update-note" method="post" autocomplete="off">
    <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-control" type="text" id="title" name="title" value="{{title}}" maxlength="255" required/>
    </div>

    <div class="form-group">
        <label>Status:</label>
        <div class="custom-control custom-radio">
            <input class="custom-control-input"
                   id="status-PENDING" type="radio" name="status" value="PENDING" required/>
            <label class="custom-control-label" for="status-PENDING">
                <span class="badge badge-secondary">Pending</span>
            </label>
        </div>
        <div class="custom-control custom-radio">
            <input class="custom-control-input"
                   id="status-IN_PROGRESS" type="radio" name="status" value="IN_PROGRESS"/>
            <label class="custom-control-label" for="status-IN_PROGRESS">
                <span class="badge badge-warning">In Progress</span>
            </label>
        </div>
        <div class="custom-control custom-radio">
            <input class="custom-control-input"
                   id="status-DONE" type="radio" name="status" value="DONE"/>
            <label class="custom-control-label" for="status-DONE">
                <span class="badge badge-success">Done</span>
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="dueDate"> Due Date:</label>
        <input class="form-control" type="date" id="dueDate" name="dueDate" value="{{dueDate}}" required/>
    </div>

    <input type="hidden" id="id" name="id" value="{{id}}">
    {{#_csrf}}
        <input type="hidden" name="{{parameterName}}" value="{{token}}"/>
    {{/_csrf}}

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Update"/>
    </div>
    <script>
        jQuery("#status-{{status}}").prop("checked", true).trigger("click")
    </script>
</form>